

<table class="table">
	<tr><%= attachment_image_tag(user,:profile_image,:fill,100,100,fallback: "no_image.jpg") %></tr>

     <tbody><tr></tr>
	<tr>
		<th>name</th>
		<th><%= user.name %></th>
	</tr>

	<tr>
		<th>introduction</th>
		<th><%= user.introduction %></th>
	<tr>
		<th>follows</th>
		<th><%= user.followings.count %></th>
	<tr>
		<th>followers</th>
        <th><%= user.followers.count %></th>
		<% unless current_user == user %>
		<% if current_user.following?(user) %>
		<br>

        <%= form_for(current_user.relationships.find_by(follow_id: user.id), html: { method: :delete }) do |f| %>
     <tr>
     	<th><%= hidden_field_tag :follow_id, user.id %></th>
        <th><%= f.submit 'フォローを外す', class: 'btn btn-danger btn-block' %></th>
    </tr>
        <% end %>
        <% else %>
    <tr>
        <%= form_for(current_user.relationships.build) do |f| %>
         <th><%= hidden_field_tag :follow_id, user.id %></th>
         <th><%= f.submit 'フォローする', class: 'btn btn-primary btn-block' %></th>
    </tr>

       <% end %>
       <% end %>
      <% end %>
	</tr></tbody>
</table>

<div class="row">
	<%= link_to '', edit_user_path(current_user.id), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_#{user.id}" %>
</div>